//- LaTex
if theme.mathjax
    script(async, src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML', integrity='sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv', crossorigin='anonymous')
    script(type='text/x-mathjax-config')
        | MathJax.Hub.Config({
        |   tex2jax: {
        |       inlineMath: [['$','$'],['\\(','\\)']],
        |       processClass: "mathjax",
        |       ignoreClass: "no-mathjax"
        |   }
        | });

//- Analytics tracking
if theme.google_analytics
    script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{theme.google_analytics}']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        console.log('Google Analytics')

//- Google AdSense
if theme.google_adsense
    script(sync src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "#{theme.google_adsense}",
            enable_page_level_ads: true
        });
        console.log('Google AdSense')

//- BaiduPush
if theme.baidu_autopush
    script.
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else{
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
            console.log('wwwuxt.cc')
        })();

//- Get Response Header
if theme.double_deploy
    script.
        (function(){
            var req = GetXmlHttpObject()  
            if (req == null) {  
                console.log("not support AJAX!");  
                return;  
            }
            req.onreadystatechange = function() {  
                if (req.readyState === 4 && req.status === 200) {  
                    var deploy_server = req.getResponseHeader("Server");
                    console.log(deploy_server)
                    if(deploy_server === 'Coding Pages'){
                        document.getElementById('host_by').innerHTML+='Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>.'
                    }
                    else if(deploy_server === 'GitHub.com'){
                        document.getElementById('host_by').innerHTML+='Hosted by <a href="https://pages.github.com" style="font-weight: bold">GitHub Pages</a>.'
                    }
                    else{
                        document.getElementById('host_by').innerHTML+='Hosted by <a href="#" style="font-weight: bold">'+ deploy_server + '</a>.'
                    }
                }  
            };  
            req.open('GET', document.location, true);
            req.send(null);
        })();
        function GetXmlHttpObject() {  
            var xmlHttp = null;  
            try {  
                // Firefox, Opera 8.0+, Safari  
                xmlHttp = new XMLHttpRequest();  
            } catch (e) {  
                // Internet Explorer  
                try {  
                    xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");  
                } catch (e) {  
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");  
                }  
            }  
            return xmlHttp;  
        }  