.paginator {
    margin: 4em 0;
    text-align: center;
    .prev {
        // display: inline-block;
        float: left;
        margin: 0 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid #3aa37200;
        font-size: 16px;
        color: rgba(136, 153, 140, 0.76);
        background-color: rgba(0, 0, 0, 0);
        &:hover {
            color: #fff;
            background-color: #22bd77;
            border-right: 4px solid #3aa373;
            border-bottom: 4px solid #3aa373;
        }
    }
    .next {
        // display: inline-block;
        float: right;
        margin: 0 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid #3aa37200;
        font-size: 16px;
        color: rgba(136, 153, 140, 0.76);
        background-color: rgba(0, 0, 0, 0);
        &:hover {
            color: #fff;
            background-color: #22bd77;
            border-left: 4px solid #3aa373;
            border-bottom: 4px solid #3aa373;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}