mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))
                != __('< PREV')
        if page.next
            a.next(href=url_for(next))
                != __('NEXT >')

mixin post()
    - var prev = page.prev ? page.prev : false;
    - var next = page.next ? page.next : false;
    .paginator
        if prev
            a.prev(href=url_for(prev.path))
                //!= __('< PREV_POST')
                != '< ' + prev.title
        if next
            a.next(href=url_for(next.path))
                //!= __('NEXT_POST >')
                != next.title + ' >'