mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))
                != __('< PREV')
        if page.next
            a.next(href=url_for(next))
                != __('NEXT >')

mixin post()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .paginator
        if prev
            a.prev(href=url_for(prev))
                != __('< PREV_POST')
        if next
            a.next(href=url_for(next))
                != __('NEXT_POST >')